<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
    <button
      (click)="connectWallet()"
      appHoverEffect
      hoverColor="lightgreen"
      hoverEffectType="background"
      *ngIf="!walletAddress"
    >
      Connect Wallet
    </button>
    <button
      (click)="disconnectWallet()"
      appHoverEffect
      hoverColor="lightcoral"
      hoverEffectType="background"
      *ngIf="walletAddress"
    >
      Disconnect Wallet
    </button>
    <div *ngIf="walletAddress">
      <p>Connected Wallet Address: {{ walletAddress | shortenAddress }}</p>
      <div class="wallet-actions">
        <button
          (click)="showNFTs()"
          appHoverEffect
          hoverColor="lightblue"
          hoverEffectType="background"
          *ngIf="!showNftsClicked"
        >
          Show NFTs
        </button>
        <button
          (click)="hideNFTs()"
          appHoverEffect
          hoverColor="lightblue"
          hoverEffectType="background"
          *ngIf="showNftsClicked"
        >
          Hide NFTs
        </button>
        <button
          (click)="showTokens()"
          appHoverEffect
          hoverColor="lightblue"
          hoverEffectType="background"
          *ngIf="!showTokensClicked"
        >
          Show Tokens
        </button>
        <button
          (click)="hideTokens()"
          appHoverEffect
          hoverColor="lightblue"
          hoverEffectType="background"
          *ngIf="showTokensClicked"
        >
          Hide Tokens
        </button>
      </div>
      <div class="wallet-items">
        <div *ngIf="showNftsClicked" class="nfts">
          <div *ngIf="nfts.length > 0; else noNFTs">
            <h2>NFTs:</h2>
            <ul>
              <li *ngFor="let nft of nfts">
                <img [src]="nft.image_url" alt="{{ nft.name }}" width="100" />
                <p>{{ nft.name }}</p>
              </li>
            </ul>
          </div>
          <ng-template #noNFTs>
            <p>No NFTs available.</p>
          </ng-template>
        </div>
        <div *ngIf="showTokensClicked" class="tokens">
          <div *ngIf="tokens.length > 0; else noTokens">
            <h2>Tokens:</h2>
            <ul>
              <li *ngFor="let token of tokens">
                <p>{{ token.tokenName }}: {{ token.value }}</p>
              </li>
            </ul>
          </div>
          <ng-template #noTokens>
            <p>No tokens available.</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="!metaMaskInstalled">
      <p>MetaMask is not installed! Please install MetaMask and try again.</p>
      <a href="https://metamask.io/" target="_blank">Install MetaMask</a>
    </div>
  </div>
</main>

<router-outlet />
